<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <p>Hello Alyssa! I added a working confirmation dialog in the HEROES section so when you try to delete a hero, it will ask for a confirmation!</p>
  <div *ngFor="let hero of heroes" class="col-1-4">

      <kendo-card [width]="'260px'">
        <kendo-card-header class="k-hbox">
            <kendo-avatar width="40px" height="40px" [imageSrc]="'https://picsum.photos/seed/' + hero.name + '/100'" [shape]="'circle'" (click)="gotoDetail(hero)" >{{hero.name.substr(0,1)}}</kendo-avatar>
            <div>
                <h1 kendoCardTitle>{{ hero.name }}</h1>
                <p kendoCardSubtitle>{{ hero.name }} is the real deal!</p>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                kendoCardMedia
                [data]="hero.scrollViewItems"
                [width]="'100%'"
                [height]="'185px'"
                [arrows]="true"
                [pageable]="true">
                <ng-template let-item="item">
                    <img src='{{ item.url }}' alt='{{ item.title }}' [ngStyle]="{ minWidth: '100%' }" draggable="false" />
                </ng-template>
            </kendo-scrollview>

        <kendo-card-actions [orientation]="actionsOrientation" [layout]="actionsLayout">
          <button class="k-button k-flat" (click)="gotoDetail(hero)">
            <span [ngClass]="'k-icon k-i-edit'"></span>
            Edit
          </button>
          <button class="k-button k-flat" >
              <span [ngClass]="'k-icon k-i-heart-outline'"></span>
              Like
          </button>
      </kendo-card-actions>
    </kendo-card>
  </div>
</div>

<my-hero-search></my-hero-search>

<hr />

<p>Testing the dialog here! Also fully working in the Heroes section.</p>

<button kendoButton *ngIf="!opened" (click)="open()">Open dialog test</button>
<kendo-dialog title="Please confirm" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to continue?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="close('no')">No</button>
        <button kendoButton (click)="close('yes')" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>
