@import 'variables.scss';
@import '~@progress/kendo-theme-default/scss/button/_index.scss';

/* You can add global styles to this file, and also import other style files */

h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #333; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }

body {
    background-color: $base-color;
}

.k-textbox-container.k-state-empty > .k-label, .k-floating-label-container.k-state-empty > .k-label {
  left: 40px !important;
}

.k-textbox-container:focus-within > .k-label, .k-floating-label-container:focus-within > .k-label {
  left: 0px !important;
  top: -10px;
  transition: ease 2s;
  transform: scale(2) rotate(2turn);
}

.chat {
  position:absolute;
  bottom:0;
  right:0;
  z-index: 999;
}

.infobox {
  margin-top: 15px;
  padding: 15px;
  color: #333;
  background-color: $mars-blue;
  border: 2px solid #000;
}




